<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BlazeDemo">

	<listeners>
		<listener class-name="com.uiAssignment.utilities.Reporting" />
	</listeners>


	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.uiAssignment.testCases.LandingPageTest" />
			<class name="com.uiAssignment.testCases.HomePageTest" />
			<class name="com.uiAssignment.testCases.PurchaseFlightTest" />
			<class name="com.uiAssignment.testCases.ConfirmationPageTest" />
		</classes>

	</test>

</suite>
